body {
background-color: burlywood;

}

h1{
    text-align: center;
}
#reset {
    width: 100px;
    margin-bottom: 30px;
}

#content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


#container {

display: flex;
border-style: solid;
width: 480px;
height: 480px;
}
.rows {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cells {
    flex: 1;
    border-style: solid;
    border-width: 0px;
    border-color: #f0f8ff;
}

#size {
    width: 140px;
    margin-bottom: 30px;
}